.Price{
    margin-top:auto;
    margin-bottom: 0px;
    border:2px solid goldenrod;
    background-color: goldenrod;
    border-radius: 0px 0px 10px 10px;
    height: 35px;
    width: auto;
    padding-top: 13px;
}
span{
    text-decoration: line-through;
}